name: GitHub Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches: ["main"]

jobs:
  metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: General Stats
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: codabytez
          filename: images/metrics-general.svg
          template: classic
          base: header, activity, community, repositories
          config_timezone: Africa/Lagos
          config_display: large
          config_padding: 0, 8 + 0%

      - name: Top Languages
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: codabytez
          filename: images/metrics-langs.svg
          template: classic
          base: ""
          plugin_languages: yes
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_languages_details: percentage
          config_timezone: Africa/Lagos
